<div class="sidebar">
    <div class="sidebar-header">
      <div class="logo">MEF</div>
      <div class="user-info">
        <div class="avatar">JS</div>
        <div class="user-details">
          <span class="username">Escritório X</span>
          <span class="email">joao.silva#escritoriox.com</span>
        </div>
        <i class="pi pi-external-link"></i>
      </div>
    </div>
  
    <nav class="sidebar-menu">
      <a routerLink="/home" routerLinkActive="active"><i class="pi pi-home"></i> Home</a>
      <a><i class="pi pi-bell"></i> Notifications</a>
      <a><i class="pi pi-user"></i> Profile</a>
      <a><i class="pi pi-cog"></i> Settings</a>
    </nav>
  </div>
  