body.dark-theme {
  --bg: #0e1525;
  --text: #ffffff;
  --card: #1c253b;
}

body.light-theme {
  --bg: #f5f5f5;
  --text: #000000;
  --card: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}
