<div class="login-wrapper">
  <div class="left-panel">
    <div class="logo">MEF</div>
    <h1>MEF</h1>
    <p>Conecte-se com o seu escritório</p>
    <span>A qualquer hora</span>
  </div>

  <div class="right-panel">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="login-form">
      <h2>LOGIN</h2>
      <p>Bem-vindo de volta!</p>

      <div class="input-group" [class.invalid]="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
      <label for="email">Email</label>
      <input formControlName="email" placeholder="Digite seu e-mail" />
      <mat-error class="error" *ngIf="formGroup.get('email')?.touched && formGroup.get('email')?.invalid">
            {{ errorMessage('email') }}
      </mat-error>
    </div>

    <div class="input-group" [class.invalid]="formGroup.get('senha')?.invalid && formGroup.get('senha')?.touched">
      <label for="senha">Senha</label>
      <input formControlName="senha" type="password" placeholder="Digite sua senha" />
      <mat-error class="error" *ngIf="formGroup.get('senha')?.touched && formGroup.get('senha')?.invalid">
            {{ errorMessage('senha') }}
      </mat-error>
    </div>


      <div class="links">
        <a href="#">Esqueceu a senha?</a>
      </div>

      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Entrando...' : 'ENTRAR' }}
      </button>

      <p class="register-link">
        Ainda não possui uma conta? <a href="/register">Cadastre-se</a>
      </p>
    </form>
  </div>
</div>
